<configuration>
  <packageSources>
    <clear />
  </packageSources>
  <packageSourceCredentials>
      <add key="Username" value="docker" />
      <add key="ClearTextPassword" value="%NUGET_PAT%" />
  </packageSourceCredentials>
  <packageSourceMapping>
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
